{% from "_helpers.html" import render_field %}

<form method="post">
    {{ form.hidden_tag() }}
    {{ render_field(form.name, placeholder="Your new name") }}
    {{ render_field(form.email, placeholder="Your new email") }}
    {{ render_field(form.password1, placeholder="Your new password") }}
    {{ render_field(form.password2, placeholder="Your new password again") }}
    {{ render_field(form.bio, placeholder="Your  bio") }}
    {{ render_field(form.profile_pic) }}
    {{ render_field(form.is_teacher) }}
    {{ form.submit }}
</form>
